.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.todolist {
  background-color: #e05ee3;
  border-radius: 5px;
  padding: 15px;
}
li {
  list-style-type:  none;
}
.task-done {
  opacity: 0.5;
  text-decoration: line-through;
}
.btn-active {
  background-color: gold;
  border: 2px solid antiquewhite;
}
.input-error {
  border: 2px solid red;
  outline: none;
}